* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 1.5rem 0;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 2.5rem;
    margin: 10px auto;
}

ul li .task {
    width: 90%;
    background-color: white;
    border-bottom: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-top: none;
    border-right: none;
    font-weight: bolder;
    cursor: pointer;
    padding: .5rem 0;
    display: inline-block;
    font-size: 1.3rem;
}

.task.done {
    background-color: lightgreen;
    border-top: 2px solid lightgrey;
    border-bottom: none;
    border-left: none;
    text-decoration: line-through;
}


.remove-task {
    height: 100%;
    width: 10%;
    padding: .5rem .7rem;
    background-color: lightcoral;
    font-size: 1.3rem;
    cursor: pointer;
}

#input-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    margin: 1rem auto;
}

#input-field > input {
    font-size: 2rem;
    margin: 1rem 0;
}

#input-field > button {
    font-size: 1.7rem;
    width: 15rem;
    align-self: center;
    padding: .5rem 1rem;
    cursor: pointer;
    
}